alias phpcs-cakephp="docker run -v $(pwd):/app willhallonline/cakephp-phpcs phpcs"
alias phpcbf-cakephp="docker run -v $(pwd):/app willhallonline/cakephp-phpcs phpcbf"
alias phpcs-wordpress="docker run -v $(pwd):/app willhallonline/wordpress-phpcs phpcs"
alias phpcbf-wordpress="docker run -v $(pwd):/app willhallonline/wordpress-phpcs phpcbf"
alias phpcs-drupal="docker run -v $(pwd):/app willhallonline/drupal-phpcs phpcs"
alias phpcbf-drupal="docker run -v $(pwd):/app willhallonline/drupal-phpcs phpcbf"
alias phpcs-docker="docker run -v $(pwd):/app willhallonline/phpcs phpcs"
alias phpcbf-docker="docker run -v $(pwd):/app willhallonline/phpcs phpcbf"
alias composer-docker="docker run -v $(pwd):/app willhallonline/phpcs composer"
